@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(235, 236, 243);
  --foreground: #a30c0c;
  --primary: rgb(99, 102, 241);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins-reg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sacramento-font {
  font-family: var(--font-sacramento);
}

.bg-main {
  min-width: 100%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.bg-main:before {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0, #000000 110%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.bg-main:after {
  content: "";
  background-image: url("../../public/assets/grid.svg");
  z-index: 1;
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  filter: brigtness(20%);
  background-attachment: fixed;
}

.header-title {
  display: flex;
  align-items: end;
  line-height: 50px !important;
  font-family: var(--font-poppins-black);
}

.header-title .dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  border-radius: 50%;
  margin-left: 2px;
}

.header-title-sm {
  line-height: 20px !important;
  font-family: var(--font-poppins-black);
}

.header-title-sm .dot-sm {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  border-radius: 50%;
}

.font-poppins-black {
  font-family: var(--font-poppins-black);
}

@media (max-width: 768px) {
  .header-title {
    display: flex;
    align-items: end;
    line-height: 28px !important;
  }

  .header-title .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    border-radius: 50%;
    margin-left: 2px;
  }
}
